.card{
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid gray;
    width: 512px;
    height: 512px;
}
.card-btn{
    background-color: orange;
}

.card-btn:focus{
    outline: none;
}
.pimage{
    width: 100%;
    height: 256px;
    box-sizing: "border-box";
    object-fit: "cover"
  }
